<?xml version="1.0"?>

<configuration>

	<configSections>
		<section name="nhaml" type="NHaml.Configuration.NHamlSection, NHaml"/>
	</configSections>

  <nhaml production="true" compilerVersion="2.0">
		<assemblies>
			<clear/>
			<add assembly="System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
		</assemblies>
		<namespaces>
			<clear/>
			<add namespace="System.Collections"/>
		</namespaces>
	</nhaml>

</configuration>
