- let temp: String = null
%input( name="AgreedToTerms" type="checkbox" value="true" id="checkbox" Checked='#{ temp  }' )
%input( name="AgreedToTerms" type="checkbox" value="true" id="checkbox" Checked='#{ "true"}' )
%img( alt="" )
