^ title = Model.ProductName
%h2= title
%p Unit Price:
  = Model.UnitPrice
%p
  %em= Html.ActionLink(Model, RestfulAction.Edit, "Edit Product")
  %em= Html.ActionLink(Model, RestfulAction.Destroy, "Delete Product")