<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="NHaml" type="System.Web.NHaml.Configuration.NHamlConfigurationSection,System.Web.NHaml" />
  </configSections>

  <NHaml>
    <assemblies>
      <add assembly="NHaml.IntegrationTests" />
    </assemblies>
  </NHaml>
</configuration>