%h2 Add Product
%form{:action => url.action({:action => 'Create'}), :method => 'post'}
  %table
    %tr
      %td Name:
      %td= html.text_box('ProductName')
    %tr
      %td Category:
      %td= html.drop_down_list('CategoryID', view_data.model.categories)
    %tr
      %td Supplier:
      %td= html.drop_down_list('SupplierID', view_data.model.suppliers)
    %tr
      %td Unit Price:
      %td= html.text_box('UnitPrice')
  %p
  _ Shared\Button