- this.Html.Tag() fun() ->
  The Content for
  the div

- this.Html.Tag("div") fun() ->
  The Content for
  the div

- this.Html.Tag("div") fun() ->
  %p 
    The Content for
    the div

- this.Html.Tag("div") fun() ->
  The Content for the div

- this.Html.Tag("div") fun() ->
  - this.Html.Tag("div") fun() ->
    The Content for the div

- this.Html.Tag("div") fun() ->
  - this.Html.Tag("div") fun() ->
    - this.Html.Tag("div") fun() ->
      The Content for the div

- this.Html.Tag("body") fun() ->
  _ Welcome

- this.Html.Tag("body") fun() ->
  - this.Html.Tag("div") fun() ->
    _ Welcome

- this.Html.Tag("div", 42) fun(n:int) ->
  = "N was: " + n

- this.Html.Tag("div", 21, 21) fun(i:int, j:int) ->
  = "N was: " + (i + j)