^ let title = "Welcome to my ASP.NET MVC Application using NHaml!"
%foo
  _ Welcome

%foo
  %p
    %em
  _ Welcome

%foo
  %p
    %em
    _ Welcome

%foo
  %p
    %em
_ Welcome

_Welcome 

%p Foo