%input{ :name => "AgreedToTerms", :type => "checkbox", :value => "true", :id => "checkbox", :Checked => false ? "true" : nil }
%input{ :name => "AgreedToTerms", :type => "checkbox", :value => "true", :id => "checkbox", :Checked => true ? "true" : nil }
%img{ :alt => "" }