<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="NHaml" type="NHaml4.Configuration.NHamlConfigurationSection,NHaml4" />
  </configSections>

  <NHaml>
    <ReferencedAssemblies>
      <add assembly="NHaml4.Tests"/>
    </ReferencedAssemblies>
    <Imports>
      <add namespace="NHaml4.Tests.Configuration, NHaml4.Tests"/>
    </Imports>
  </NHaml>
</configuration>