!!!
%html{xmlns="http://www.w3.org/1999/xhtml"}
  %head
    %title IronRuby Sample MVC Application
    %link{href="../../Content/Site.css" rel="stylesheet" type="text/css"}
  %body
    #inner
      #header
        %h1 IronRuby Store Manager - Products
      #menu
        %ul
          %li
            %a{href => "/"} Home
          %li
            = html.action_link('About Us', {:controller => 'Home', :action => 'About'})
          %li
            = html.action_link('Products', {:controller => 'Products', :action => 'Category', :id => 1})
      #maincontent
        _