- Html.Tag() def()
  The Content for
  the div

- Html.Tag("div") def()
  The Content for
  the div

- Html.Tag("div") def()
  %p 
    The Content for
    the div

- Html.Tag("div") def()
  The Content for the div

- Html.Tag("div") def()
  - Html.Tag("div") def()
    The Content for the div

- Html.Tag("div") def()
  - Html.Tag("div") def()
    - Html.Tag("div") def()
      The Content for the div

- Html.Tag("body") def()
  _ Welcome

- Html.Tag("body") def()
  - Html.Tag("div") def()
    _ Welcome

- Html.Tag[of int]("div", 42) def(n)
  = "N was: " + n

- Html.Tag[of int,int]("div", 21, 21) def(i as int, j as int)
  = "N was: " + (i + j)