%input{ name="AgreedToTerms" type="checkbox" value="true" id="checkbox" Checked='#{("true" if (false) else null)}' }
%input{ name="AgreedToTerms" type="checkbox" value="true" id="checkbox" Checked='#{("true" if (true) else null)}' }
%img{ alt="" }