^ var title = ""
!!!
%html{xmlns="http://www.w3.org/1999/xhtml"}
  %head
    %title
      NHaml MVC Sample -  
      = title
    %link{href="../../Content/Site.css", rel="stylesheet", type="text/css"}
  %body
    #inner
      #header
        %h1 My Store Manager
      #menu
        %ul
          %li
            %a{href="/"} Home
          %li
            = Html.ActionLink<CategoriesController>()
      #maincontent
        _