!!!
%html(xmlns="http://www.w3.org/1999/xhtml")
  %head
    @contentplaceholder=Title
      %title NHaml C# Sample MVC Application
    %link(href="../../Content/Site.css" rel="stylesheet" type="text/css")
  %body
    #inner
      #header
        @contentplaceholder=Header
          %h1 NHaml C# Store Manager
      #menu
        %ul
          %li
            %a(href="/") Home
          %li
            = Html.ActionLink("About Us", "About", "Home")
          %li
            = Html.ActionLink("Products", "Category", "Products", new With {Key .ID = 1 }, Nothing)
      #maincontent
        _
