%input{ name="AgreedToTerms" type="checkbox" value="true" id="checkbox" Checked="#{CStr(Nothing)}"}
%input{ name="AgreedToTerms" type="checkbox" value="true" id="checkbox" Checked="true" }
%img{ alt="" }