%p{class="foo", http-equiv=10-9, for="baz"+"bob", accept-charset=string.Join("-", new string[]{"1","2","3"})} Foo
%p{class="bar", http-equiv="1", for="bazbob", accept-charset="1-2-3"} Bar
- string b = ""
%p{class=b="class=b=\"class=b\"", id=b="class=b=foo, id=b=bar"} Bar
%html{lang="en", xml:lang="en", xmlns="http://www.w3.org/1999/xhtml"} Baz