%input{ name="AgreedToTerms", type="checkbox", value="true", id="checkbox", Checked= false ? "true" : null }
%input{ name="AgreedToTerms", type="checkbox", value="true", id="checkbox", Checked= true ? "true" : null }
%img{ alt="" }