%h2= ViewData.Model.CategoryName
%ul
  - foreach (var product in ViewData.Model.Products)
    %li
      = product.ProductName 
      %span.editlink
        = Html.ActionLink("Edit", "Edit", new RouteValueDictionary(new { ID=product.ProductID }))

= Html.ActionLink("Add New Product", "New")
