- Category category = (Category)ViewData["category"]
%h2= category.CategoryName
%ul
  - foreach (var product in category.Products)
    _ Product
= Html.LinkTo("Add New Product", "Products", "New")