!!!
%html{xmlns="http://www.w3.org/1999/xhtml"}
  %head
    %title NHaml MonoRail C# Sample MVC Application
    %link{href="../../Content/Site.css" rel="stylesheet" type="text/css"}
  %body
    #inner
      #header
        %h1 NHaml MonoRail C# Store Manager
      #menu
        %ul
          %li
            %a{href="/"} Home
          %li
            = Html.LinkTo("About Us", "Home", "About")
          %li
            = Html.LinkTo("Products", "Products", "Category", 1)
      #maincontent
        _